# Test DB URI. You can use your actual MONGO_URI if you don't mind it potentially including test data.
MONGO_URI=mongodb://127.0.0.1:27017/chatgpt-jest

# Credential encryption/decryption for testing
CREDS_KEY=ca3457e444bf228e4b9dfeeaa5bcf09a2f96bc0b8a65bcc715e4a621f76c3f97
CREDS_IV=74ac84ff5567c6c35cdc04143ac60e90

# For testing the ChatAgent
OPENAI_API_KEY=your-api-key

BAN_VIOLATIONS=true
BAN_DURATION=7200000
BAN_INTERVAL=20
